.userInfo {
  color: white;
  display: none;
  img {
    height: 50px;
    width: 50px;
  }
  a {
    color: white;
  }
  a:hover {
    color: salmon;
  }
}

.myJumbo {
  text-align: center;
}
body {
  background: black;
}
